/*-- scss:defaults --*/

/* Main page background and text */
body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url('images/bosco_background.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: blur(5px);
  transform: scale(1.05); /* prevents blurry edges */

  z-index: -1;
}


/* Main content area */
main,
.content,
.page-columns,
.quarto-container,
#quarto-content {
  color: #111111 !important;
}

/* Cover image adjustment */
img[src*="mes_headshot.JPEG"] {
  width: 500px;
  height: 500px;
  object-fit: cover;
  object-position: 30% 2%;
}

/* Fix headings and paragraph text */
h1, h2, h3, h4, h5, h6,
p, li, span {
  color: #111111;
}

/* Navbar */
.navbar {
  background: rgba(191, 208, 219, 0.5) !important;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  
  border-bottom: 4px solid rgba(255,255,255,0.35) !important;
}

/* Links */
a {
  color: #4DA3D9 !important;
}

a:hover {
  color: #F4C95D !important;
}

/* Section accent */
h2 {
  display: inline-block;
  border-bottom: 4px solid #6BBF59;
  padding-bottom: 0.2rem;
}


.carousel-item img {
  height: 450px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}