/*-- scss:defaults --*/

/* Importing Fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');


/* Default background image */
.default-page::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url('images/bosco_background.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: blur(5px);
  transform: scale(1.05); /* prevents blurry edges */

  z-index: -1;
}

/* Resume background image */
.resume-page::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url('images/cinque_background.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: blur(5px);
  transform: scale(1.05); /* prevents blurry edges */

  z-index: -1;
}



/* Main content area */
main,
.content,
.page-columns,
.quarto-container,
#quarto-content {
  color: #111111 !important;
}

/* Cover image adjustment */
img[src*="mes_headshot.JPEG"] {
  width: 500px;
  height: 500px;
  object-fit: cover;
  object-position: 30% 2%;
}

/* Fix headings and paragraph text */
h1, h2, h3, h4, h5, h6,
p, li, span {
  color: #111111;
}


/* Making Text Panels */
.page-columns .text-panel {
  grid-column: screen-start / screen-end;
}

.text-panel {
  background: rgba(255, 255, 255, 0.75);
  color: #111111;

  position: relative;
  left: 50%;
  right: 50%;

  width: 100vw;
  max-width: 100vw;

  margin-left: -50vw;
  margin-right: -50vw;

  padding: 1.5rem max(2rem, calc((100vw - 900px) / 2));
  margin-top: 1rem;
  margin-bottom: 1rem;

  box-sizing: border-box;
}

.text-panel-wide {
  background: rgba(255, 255, 255, 0.75);
  color: #111111;

  position: relative;
  left: 50%;
  right: 50%;

  width: 100vw;
  max-width: 100vw;

  margin-left: -50vw;
  margin-right: -50vw;

  padding: 3rem max(2rem, calc((100vw - 900px) / 2));
  margin-top: 1rem;
  margin-bottom: 1rem;

  box-sizing: border-box;
}

/* Navbar Adjustments */
.navbar {
  min-height: 80px;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;}
  
.navbar {
  background: rgba(191, 208, 219, 0.5) !important;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  
  border-bottom: 4px solid rgba(255,255,255,0.4) !important;
}

.navbar-title {
  font-size: 1.65rem;
  font-weight: 600;
  font-family: 'Cormorant Garamond';
}




/* Links */
a {
  color: #4DA3D9 !important;
}

a:hover {
  color: #F4C95D !important;
}

/* Section accent */
h2 {
  display: inline-block;
  border-bottom: 4px solid #6BBF59;
  padding-bottom: 0.2rem;
}


.carousel-item img {
  height: 450px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}